@import 'styles/theme';

.header {
  position: fixed;
  z-index: 99;
  background: $color-white;
  top: 0;
  left: 0;
  right: 0;
  height: $header-height;
  box-shadow: 0 1.6px 3.6px 0 $color-boxShadow,
    0 0.3px 0.9px 0 $color-boxShadowSecondary;
}

.icons {
  font-size: 24px;
  color: $color-primary;
}
